<% provide(:title, "Top") %>
<!--<div class="jumbotron">-->
  <!--<h1>サンプルアプリ</h1>-->

<div class="row">
  
  <div class="col-md-7">
    <div class="center jumbotron" id="top-main">
      <h1 id="top-main-title">TaskApp</h1>
      <p>TaskAppは簡易ToDo管理ツールです。</p>
      <p>↓↓初めてのご利用↓↓</p>
      <% if logged_in? %><%#D1%>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success #{"disabled" unless current_user.admin?}" %>
      <% else %>
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <h1>ログイン</h1>
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
      <% if logged_in? %>
        <%= f.label :email, t("sessions.new.email"), class: "label-form" %>
        <%= f.email_field :email, class: 'form-control', readonly: true %>
  
        <%= f.label :password, t("sessions.new.password"), class: "label-form" %>
        <%= f.password_field :password, class: 'form-control', readonly: true %>
        
        <%= f.submit "ログイン状態です", class: "btn btn-primary btn-block btn-form", disabled: "disabled" %>
      <% else %>
        <%= f.label :email, t("sessions.new.email"), class: "label-form" %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password, t("sessions.new.password"), class: "label-form" %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
          <%= f.check_box :remember_me, id: "remember-me" %>
          <span>ログイン情報を記憶する</span>
        <% end %>
        
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-form" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="jumbotron">
  <p>現在このアプリケーションには、以下の機能が備わっています。</p>

  <ul>
    <li>ルートURLに対応したトップページ（このページです）</li>
    <li>ユーザー機能
      <ol>
        <li>名前・メールアドレス・パスワード・ログイン認証用のカラムを持ったUserモデル</li>
        <li>ユーザー新規登録と対応したページ</li>
      </ol>
    </li>
    <li>ログイン機能
      <ol>
        <li>セッションによる一時的ログイン機能</li>
        <li>Cookiesによる永続的ログイン機能</li>
      </ol>
    </li>
  </ul>
  <p>実質【勤怠チュートリアル第７章】までの機能を持ったアプリケーションとなります。</p>
  <!--<center>-->
    <%#= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
    <%#= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  <!--</center>-->
</div>
